USE [test]
GO
/****** Object:  Table [dbo].[test]    Script Date: 21/02/2020 09:51:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[colum1] [int] NOT NULL
) ON [PRIMARY]

GO