USE [master]
GO
/****** Object:  Database [LBD]    Script Date: 05/06/2020 04:24:31 p. m. ******/
CREATE DATABASE [LBD] ON  PRIMARY 
( NAME = N'LBD', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL10.MSSQL15\MSSQL\DATA\LBD.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBD_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL10.MSSQL15\MSSQL\DATA\LBD_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBD]
GO
/****** Object:  Table [dbo].[AREA_TRABAJO]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREA_TRABAJO](
	[codigo] [varchar](30) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[Salario] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[codigo_cliente] [varchar](30) NOT NULL,
	[numCompras] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[codigo] [varchar](30) NOT NULL,
	[Cantidad_Productos] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[Fecha] [date] NOT NULL,
	[codigo_cliente] [varchar](30) NULL,
	[codigo_vendedor] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datosClientes]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datosClientes](
	[nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[Email] [varchar](40) NOT NULL,
	[nameclientlen] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[codigo] [varchar](30) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Email] [varchar](40) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[codigo] [varchar](30) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[precio] [float] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[codigo_compra] [varchar](30) NULL,
	[codigo_proveedor] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[codigo] [varchar](30) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[dirección] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[codigo_vendedor] [varchar](30) NOT NULL,
	[codigo_Area_Trabajo] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[personas_compras]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[personas_compras] AS(
SELECT nombre,Apellidos,direccion,Email,Total,Fecha  FROM PERSONA LEFT JOIN COMPRA ON codigo_cliente=Persona.codigo
WHERE PERSONA.codigo=(SELECT codigo_cliente FROM CLIENTE where PERSONA.codigo=codigo_cliente) 
GROUP BY nombre,Apellidos,direccion,Email,Total,Fecha
)
GO
/****** Object:  View [dbo].[producto_Proveedores]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[producto_Proveedores] AS (
SELECT Proveedor.nombre as nombreProveedor,dirección,telefono,PRODUCTOS.nombre,descripcion
FROM PRODUCTOS RIGHT JOIN PROVEEDOR ON PROVEEDOR.codigo=PRODUCTOS.codigo_proveedor
GROUP BY PRODUCTOS.nombre,descripcion,Proveedor.nombre,dirección,telefono
)
GO
/****** Object:  View [dbo].[productos_Compras]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[productos_Compras] AS (
SELECT PRODUCTOS.codigo AS codigoProducto,nombre,precio,COMPRA.codigo, Fecha FROM PRODUCTOS LEFT JOIN COMPRA ON codigo_compra=COMPRA.codigo
)
GO
/****** Object:  View [dbo].[puestos_portoma]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[puestos_portoma] AS(
SELECT codigo_vendedor,nombre,descripcion,Salario FROM AREA_TRABAJO CROSS JOIN Vendedor
GROUP BY codigo_vendedor,codigo_Area_Trabajo,nombre,descripcion,Salario HAVING codigo_vendedor!=codigo_Area_Trabajo
)
GO
/****** Object:  View [dbo].[vendedores_ventasActuales]    Script Date: 05/06/2020 04:24:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vendedores_ventasActuales] AS(
SELECT Persona.nombre as Nombre_vendedor,Apellidos,direccion,Email,fecha,Total,Cantidad_Productos 
FROM PERSONA LEFT JOIN COMPRA on Persona.codigo=COMPRA.codigo_vendedor
WHERE PERSONA.codigo=(SELECT codigo_vendedor FROM Vendedor where Persona.codigo=codigo_vendedor)
GROUP BY Persona.nombre,Apellidos,direccion,Email,fecha,Total,Cantidad_Productos
)
GO
INSERT [dbo].[AREA_TRABAJO] ([codigo], [nombre], [descripcion], [Salario]) VALUES (N'1001', N'Paqueteria', N'Guardado de articulos sin permiso a ingresar', 2200)
INSERT [dbo].[AREA_TRABAJO] ([codigo], [nombre], [descripcion], [Salario]) VALUES (N'1002', N'Seguridad', N'Vigilancia a la tienda', 5300)
INSERT [dbo].[AREA_TRABAJO] ([codigo], [nombre], [descripcion], [Salario]) VALUES (N'1003', N'Cajero', N'Atender las compras', 2400)
GO
INSERT [dbo].[CLIENTE] ([codigo_cliente], [numCompras]) VALUES (N'1001L', 2)
INSERT [dbo].[CLIENTE] ([codigo_cliente], [numCompras]) VALUES (N'1004D', 6)
INSERT [dbo].[CLIENTE] ([codigo_cliente], [numCompras]) VALUES (N'1006O', 8)
GO
INSERT [dbo].[COMPRA] ([codigo], [Cantidad_Productos], [Total], [Fecha], [codigo_cliente], [codigo_vendedor]) VALUES (N'00101', 10, 134.5, CAST(N'2020-05-12' AS Date), N'1004D', N'1002A')
INSERT [dbo].[COMPRA] ([codigo], [Cantidad_Productos], [Total], [Fecha], [codigo_cliente], [codigo_vendedor]) VALUES (N'00102', 2, 48, CAST(N'2020-05-18' AS Date), N'1001L', N'1008A')
INSERT [dbo].[COMPRA] ([codigo], [Cantidad_Productos], [Total], [Fecha], [codigo_cliente], [codigo_vendedor]) VALUES (N'00103', 5, 94, CAST(N'2020-04-09' AS Date), N'1004D', N'1009J')
GO
INSERT [dbo].[datosClientes] ([nombre], [Apellidos], [direccion], [Email], [nameclientlen]) VALUES (N'Leonardo Gadiel', N'Mendoza Contreras', N'Santa Catarina', N'leo24@hotmail.com', 15)
INSERT [dbo].[datosClientes] ([nombre], [Apellidos], [direccion], [Email], [nameclientlen]) VALUES (N'Diana Laura', N'Hernandez Cañedo', N'Santa Catarina', N'dianana@hotmail.com', 11)
INSERT [dbo].[datosClientes] ([nombre], [Apellidos], [direccion], [Email], [nameclientlen]) VALUES (N'Orlando Javier', N'Medina Melendez', N'Monterrey', N'orlandix@hotmail.com', 14)
GO
INSERT [dbo].[PERSONA] ([codigo], [nombre], [Apellidos], [Email], [Telefono], [direccion]) VALUES (N'1001L', N'Leonardo Gadiel', N'Mendoza Contreras', N'leo24@hotmail.com', N'80321181', N'Santa Catarina')
INSERT [dbo].[PERSONA] ([codigo], [nombre], [Apellidos], [Email], [Telefono], [direccion]) VALUES (N'1002A', N'Andres', N'Martinez Reyna', N'andresMR@gmail.com', N'82918283', N'Santa Catarina')
INSERT [dbo].[PERSONA] ([codigo], [nombre], [Apellidos], [Email], [Telefono], [direccion]) VALUES (N'1003E', N'Esteban ', N'Sanchez', N'estabansz@hotmail.com', N'81235614', N'Monterrey')
GO
INSERT [dbo].[PRODUCTOS] ([codigo], [descripcion], [precio], [nombre], [peso], [codigo_compra], [codigo_proveedor]) VALUES (N'10001', N'Galleta con malvabiscos', 10, N'Rainbow', 60.2, N'00106', N'001G')
INSERT [dbo].[PRODUCTOS] ([codigo], [descripcion], [precio], [nombre], [peso], [codigo_compra], [codigo_proveedor]) VALUES (N'10003', N'Refresco sabor piña 500ml', 12, N'Botecito', 480, N'00110', N'005P')
INSERT [dbo].[PRODUCTOS] ([codigo], [descripcion], [precio], [nombre], [peso], [codigo_compra], [codigo_proveedor]) VALUES (N'10004', N'Catsup 300ml', 18.5, N'Periquito', 290, N'00106', N'008D')
GO
INSERT [dbo].[PROVEEDOR] ([codigo], [nombre], [telefono], [dirección]) VALUES (N'001G', N'Gamesta', N'84356123', N'San Nicolas')
INSERT [dbo].[PROVEEDOR] ([codigo], [nombre], [telefono], [dirección]) VALUES (N'002M', N'Mar y Nela', N'80134532', N'Monterrey')
INSERT [dbo].[PROVEEDOR] ([codigo], [nombre], [telefono], [dirección]) VALUES (N'003T', N'Tia Lupe', N'84167387', N'San Nicolas')
GO
INSERT [dbo].[Vendedor] ([codigo_vendedor], [codigo_Area_Trabajo]) VALUES (N'1002A', N'1010')
INSERT [dbo].[Vendedor] ([codigo_vendedor], [codigo_Area_Trabajo]) VALUES (N'1008A', N'1002')
INSERT [dbo].[Vendedor] ([codigo_vendedor], [codigo_Area_Trabajo]) VALUES (N'1009J', N'1003')
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([codigo_cliente])
REFERENCES [dbo].[PERSONA] ([codigo])
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([codigo_cliente])
REFERENCES [dbo].[CLIENTE] ([codigo_cliente])
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([codigo_vendedor])
REFERENCES [dbo].[Vendedor] ([codigo_vendedor])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([codigo_proveedor])
REFERENCES [dbo].[PROVEEDOR] ([codigo])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([codigo_compra])
REFERENCES [dbo].[COMPRA] ([codigo])
GO
ALTER TABLE [dbo].[Vendedor]  WITH CHECK ADD FOREIGN KEY([codigo_vendedor])
REFERENCES [dbo].[PERSONA] ([codigo])
GO
ALTER TABLE [dbo].[Vendedor]  WITH CHECK ADD FOREIGN KEY([codigo_Area_Trabajo])
REFERENCES [dbo].[AREA_TRABAJO] ([codigo])
GO
USE [master]
GO
